<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amangupta.gym">

    <application
        android:allowBackup="true"
        android:icon="@drawable/flogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Achest"
            android:label="Chest" />
        <activity
            android:name=".Aback"
            android:label="Back" />
        <activity
            android:name=".Abiceps"
            android:label="Biceps" />
        <activity
            android:name=".Atriceps"
            android:label="Triceps" />
        <activity
            android:name=".Ashoulder"
            android:label="Shoulder" />
        <activity android:name=".Aabs"
            android:label="Aabs"></activity>
    </application>

</manifest>